<!-- Begin Footer -->
<div id="footer" class="footer" align="center">
<br><br><br><br><br><br><br>
<!-- Social Links -->
{% include casjaysdev/sharethis.html %}
<!-- End Social Links-->
<br><br>
<!-- Begin Casjays Developments Footer -->
{% include casjaysdev/legal.html %}
<!-- End Casjays Developments Footer -->
<!--Begin Statcounter Code -->
{% include casjaysdev/statcounter.html %}
<!-- End Statcounter Code -->
<br><br>
<!-- Begin Google Track -->
{% include casjaysdev/google.html %}
<!-- Eng Google Track -->
<br><br>
<!--Begin ads Code -->
{% include casjaysdev/ads.html %}
<!-- End ads Code -->
<br><br>
<!-- Begin EU compliant -->
{% include casjaysdev/eucookie.html %}
<!-- End EU compliant -->
<br><br>
<!-- Start of Rocket.Chat Livechat Script -->
{% include casjaysdev/rocketchat.html %}
<!-- End of Rocket.Chat Livechat Script -->
<br><br>
<!-- Begin Piwik Tracking Code -->
{% include casjaysdev/piwik.html %}
<!-- End Piwik Tracking Code -->
</div>
<br><br>
<!-- End Footer -->
